<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>

<p>
Under the guidance of the kind folks at The Firehose Project, Splurty was proudly built by <a target="_blank" href="https://github.com/mariellchristine">Mariell Datu</a>. This awesome quote generating web application is just one of many Mariell has built during her apprenticeship.
</p>
<p>If you are interested in learning how to code your own app, click <a target="_blank" href="http://www.thefirehoseproject.com/"> here!</a>
</p>
<br />

<div class='col-xs-12 col-sm-4'>
  <%= image_tag 'Photo.jpg', class: 'img-responsive' %>
</div>

<div>
  <h2 class="text-center">Mariell Datu</h2>
  <br />
  <p>
    Mariell Datu is an aspiring web developer with a passion for problem solving. Currently working as an Accounting Assistant, Mariell has recently discovered her love for puzzles and logic through manipulating formulas in excel. 
  </p>
  <p>
    When she's not practicing her algorithmic skills, Mariell enjoys drinking a craft beer with close friends and spending time with her family. She is a huge fan of cold brew coffee and gelato.
  </p>
</div>

<br class="clear" />
<br />
<br />
<br />
<br />

</div>